* {
    margin: 0;
    padding: 0;
}

/*每个知识点*/
.area {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid skyblue;
}

/*知识点的每个部分*/
.part {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border-top: 1px salmon solid;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr, td {
    padding: 0.5em;
    border: 1px solid #CCC;
}

tr.title {
    background-color: #3f3f3f;
    color: white;
}

tr.item {
    color: #3f3f3f;
    background-color: white;
}

tr.item:nth-child(Odd) {
    background-color: #F5F5F5;
}
